* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  max-width: 595px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
  font-size: 6.89vw;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

@media (min-width: 596px) {
  .container {
    font-size: 42px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 66.4vw;
  padding: 6.55vw 6.05vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left;
  letter-spacing: 0;
  font-weight: bold;
  background-image: url("../img/cat.jpg");
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 596px) {
  .header {
    height: 396px;
    padding: 39px 36px;
  }
}

.heading {
  margin: 0;
  color: #fff;
  font-size: 6.89vw;
  letter-spacing: 0;
}

@media (min-width: 596px) {
  .heading {
    font-size: 42px;
  }
}

.pixel-field {
  padding: 10.59vw 16.13vw 2vw;
  cursor: pointer;
}

@media (min-width: 596px) {
  .pixel-field {
    padding: 65px 96px 12px;
  }
}

.drawing-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 67.73vw;
  height: 67.73vw;
  max-width: 403px;
  max-height: 403px;
}

.drawing-area div {
  width: 24.5%;
  height: 24.5%;
}

.pixel-blue {
  background-color: #90c4b8;
}

.pixel-black {
  background-color: #000;
}

.elapsed-time {
  margin-bottom: 5.37vw;
  padding-top: 2.5vw;
}

@media (min-width: 596px) {
  .elapsed-time {
    margin-bottom: 32px;
    padding-top: 15px;
  }
}

.elapsed-time__time {
  display: block;
}

.controls {
  padding-bottom: 10.08vw;
}


@media (min-width: 596px) {
  .controls {
    padding-bottom: 60px;
  }
}

.controls__button {
  width: 67.73%;
  margin-bottom: 5.38vw;
  padding: 5.38vw 5vw 5.88vw;
  letter-spacing: -0.02em;
  background-color: #e8e8e8;
  border: none;
  cursor: pointer;
}

.controls__button:hover {
  background-color: #d0cfcf;
}

.controls__button:active {
  background-color: #b3b3b3;
}

@media (min-width: 596px) {
  .controls__button {
    padding: 32px 30px 35px;
  }
}

.output-result {
  padding: 4.87vw 4.87vw 3.53vw 6.89vw;
  background-color: #e8e8e8;
}

@media (min-width: 596px) {
  .output-result {
    padding: 29px 29px 21px 41px;
  }
}

.canvas-output {
  margin: 0 auto 0.67vw;
}

@-webkit-keyframes canvas-result {
  0% {
    -webkit-transform: scale(2) translateY(-250%);
            transform: scale(2) translateY(-250%);
  }

  15% {
    -webkit-transform: scale(2.6) translateY(-200%);
            transform: scale(2.6) translateY(-200%);
  }

  30% {
    -webkit-transform: scale(2.2) translateY(-170%);
            transform: scale(2.2) translateY(-170%);
  }

  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@keyframes canvas-result {
  0% {
    -webkit-transform: scale(2) translateY(-250%);
            transform: scale(2) translateY(-250%);
  }

  15% {
    -webkit-transform: scale(2.6) translateY(-200%);
            transform: scale(2.6) translateY(-200%);
  }

  30% {
    -webkit-transform: scale(2.2) translateY(-170%);
            transform: scale(2.2) translateY(-170%);
  }

  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

.canvas-output-animation {
  -webkit-animation: canvas-result 0.8s ease-in;
          animation: canvas-result 0.8s ease-in;
}

@media (min-width: 596px) {
  .output-result {
    margin-bottom: 4px;
  }
}
